@use "../abstracts" as abs;

button {
  padding: 5px;
  i {
    font-size: 20px;
    font-weight: bold;
    color: abs.$font-color;
  }
  margin-top: 5px;
  margin-right: 10px;
  opacity: 0.8;
}
#Clear__Notes__Btn {
  i {
    font-size: 20px;
    transform: rotate(180deg);
  }
}

.Delete__Btn {
  display: block;

  margin-top: 12px;
  i {
    font-size: 18px;
  }
}
button:hover {
  transform: scale(1.3);
  opacity: 1;
}
