@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

$primary-font: "Poppins", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;
$primary-bg-color: rgb(228, 226, 224);
$secondary-bg-color: #fff;
$font-color: #000;
$accent-color: rgb(38, 32, 30);
$icon-color-red: rgb(158, 9, 9);
$icon-color-green: rgb(13, 80, 13);
