@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@500;700&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Lato", sans-serif;
$primary-bg-color: rgb(228, 226, 224);
$secondary-bg-color: #fff;
$font-color: #000;
$accent-color: rgb(38, 32, 30);
$button-color-red: rgb(105, 3, 3);
$button-color-green: rgb(13, 80, 13);
