@use "../abstracts" as abs;

body {
  background-color: abs.$light-color;
}

h1,
h2,
h3 {
  color: abs.$dark-color;
}
p,
input,
textarea {
  color: abs.$dark-color;
  background-color: abs.$light-color;
}
