@use "../abstracts" as abs;

h1,
h2,
h3,
label {
  font-family: abs.$primary-font;
  word-wrap: break-word;
  line-height: 1.2em;
}

p,
button,
input,
textarea {
  font-family: abs.$secondary-font;
  word-wrap: break-word;
}
body {
  letter-spacing: 2px;
  line-height: 1.6em;
  padding-bottom: 80px;
  font-size: 100%;
}
input {
  font-size: 1em;
}
input::placeholder {
  font-size: 16px;
  color: abs.$font-color;
  opacity: 0.8;
}
