@use "../abstracts" as abs;

#Add__Notes {
  overflow: hidden;
  height: 40px;
  transition: 500ms ease-in-out;
}

#Add__Notes.active {
  height: 120px;
  #Hide__Btn {
    transform: rotate(180deg);
  }
}
