@use "../abstracts" as abs;
.Notes__App {
  padding: 1.5em;
  background-color: abs.$primary-bg-color;
  #Title {
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  #Add__Notes {
    background-color: white;
    margin-bottom: 40px;
    padding: 10px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0.1em 0.2em 4px 1px rgba(0, 0, 0, 0.7);
    .Add__Notes__Items {
      width: 90%;
      margin: 10px auto;
      #Notes__Title {
        height: 50px;
        width: 100%;
        padding-left: 12px;
      }
      #Notes__Description {
        height: 70px;
        width: 100%;
        padding: 12px;
      }
    }
  }
}
